* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat:wght@600&family=Finger+Paint&family=Frijole&family=Fuzzy+Bubbles&family=Kranky&family=Rock+Salt&family=Trade+Winds&display=swap");

.App {
  text-align: center;
}

body {
  background-color: rgb(33, 34, 38);
}

